body {
  font-family: "Noto Sans JP",sans-serif;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

/* wrapper */
.wrapper {
  border-radius: 20px;
  height: 50vw;
  width: 100%;
  background-image: url("./image/wrapperimg.jpg");
  background-size: cover;
  display: flex;
  align-items: left;
  flex-direction: column;
}

.wrapper-subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vw;
  width: 50%;
}

.wrapper-subject div {
  background-color: rgba(240,232,222, 0.5);
  border-radius: 20%;
  width: 25vw;
  height: 25vw;
  min-width: 200px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.wrapper p {
  color: whitesmoke;
  font-weight: 900;
  font-size: 2vw;
  background-color: rgba(220,152,110,0.15);
  margin-top: 30px;
  margin-bottom: 5px;
  letter-spacing: 2px;
  padding: 10px;
}

.wrapper-subject img {
  height: 20vw;
  min-height: 150px;
  border-radius: 50%;
}

/* overview */

.overview .subject {
  margin: 45px 0px;
  padding-bottom: 5px;
  border-bottom: 2px solid #156BC7;
}

.content {
  display: flex;
  text-align: left;
  line-height: 30px;
  margin-bottom: 20px;
}

.content span {
  background: linear-gradient(transparent 70%, #ffcccc 0%);
}

.content p {
  font-size: 12px;
}